

.extensionWrapper {
    background-color: rgb(128,128,128);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    padding: 8px;
    border-radius: 8px;
}
.play, .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.extensionWrapper svg {
    fill: whitesmoke;
    transition: fill 0.4s ease;
    cursor: pointer;
}
.extensionWrapper  svg:hover {
    fill: rgb(37, 45, 82);
}
.fontChooser {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.active svg {
    fill: rgb(26, 153, 153);
}
.fontWrapper {
    /* position: absolute; */
    top: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    transition: opacity 1s ease;
}

.font {
    background-color: rgb(88, 81, 119);
    border-radius: 8px;
    color: aliceblue;
    padding: 2px 4px;
    cursor: pointer;
    transition: background 0.4s ease;
}   
.hidden {
    max-height: 0;
    opacity: 0.1;
    overflow: hidden;
}
.font:hover {
    background-color: rgb(26, 153, 153);
}
#Corben {
    font-family: 'Corben';
}
#Dosis {
    font-family: 'Dosis';
}
#Montserrat {
    font-family: 'Montserrat';
}
#OpenSans {
    font-family: 'Open Sans';
    white-space: nowrap;
}
#Poppins {
    font-family: 'Poppins';
}
#Roboto {
    font-family: 'Roboto';
}