.extensionWrapper {
    background-color: rgb(128,128,128);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    padding: 8px;
    border-radius: 8px;
}
.play, .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.extensionWrapper svg {
    fill: whitesmoke;
    transition: fill 0.4s ease;
    cursor: pointer;
}
.extensionWrapper  svg:hover {
    fill: rgb(34, 16, 16);
}